
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="_1U04Vl">
        <div class="_3QE344" style="display: flex; flex-direction: row; align-items: center;">
            <div class="_9t1fKU _3Sjcsw _1wUxdg" data-qa="navigation-header-title">Clients</div>
            <div class="_21T7sw _2nu1E8" data-qa="provider-status-badge" style="display: flex; flex-direction: row;">
            <div class="_1xQH2L _2-VG2b"></div>
            <div>
                <div class="_9t1fKU _2G32AU _2XaENt">Boost sales with Fresha Plus</div>
                <div class="_9t1fKU _2G32AU Wn7ijY">Enable online booking</div>
                </div>
                </div>
            <a class="_28PWNC _2nu1E8" href="/search">
            <span class="_3Q2N2k _30vxLD _1d3jRi skx_qq"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.3 20">
                <path d="M19 18.5l-5-5.2c2.8-3.1 2.7-7.8-.3-10.8-3-3.2-8-3.3-11.2-.3C-.6 5.1-.9 10 2 13.3c2.8 3.2 7.4 3.7 10.8 1.2l5 5.2c.2.2.4.3.6.3h.2c.3-.1.6-.3.6-.6.2-.4.1-.7-.2-.9zM8 1.7c3.5 0 6.3 2.8 6.3 6.3s-2.8 6.3-6.3 6.3S1.7 11.5 1.7 8 4.5 1.7 8 1.7z"></path></svg></span></a>
            <div class="_2nu1E8" align="right" data-qa="top-nav-alerts">
            <div class="_28PWNC">
                <span class="_3Q2N2k _30vxLD _1d3jRi skx_qq">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.4 22">
                    <path d="M18.2 16.1l-2.1-4.3V7c0-3.9-3.1-7-7-7s-7 3.1-7 7v4.8L.2 16.1c-.3.5-.3 1.1 0 1.5.3.5.8.7 1.4.7h3.6c.2 2 1.9 3.6 4 3.6s3.8-1.6 4-3.6h3.7c.6 0 1.1-.3 1.4-.7.1-.4.1-1-.1-1.5zM9.1 20c-1 0-1.8-.7-2-1.6H11c-.1.9-.9 1.6-1.9 1.6zm-6.8-3.6l1.8-4v-.2V7c0-2.8 2.2-5 5-5s5 2.2 5 5v5.4l1.9 3.9H2.3z"></path>
                    </svg></span>
                <div class="_2ipR5L _1ozNZ-" data-qa="navigation-badge">
                <div class="_1WPwb4"><div class="_9t1fKU wiy4G4 _2AGjqs">4</div>
                    </div>
                    </div>
                </div>
                </div>
            <button class="_3ySuQR _1TIvwq _28PWNC _3mNJWH _3n4X2l _2nu1E8 _1jiWG4 _2P5TQK _1qADt0" data-qa="header-avatar">
            <div class="_10jmov">
                <div>
                <div style="display: flex; flex-direction: row;">
                    <div class="_37OY2T">
                    <div class="_1YSdYi _2iwjnI" color="blue">
                        <div class="_16eWMH _2iwjnI _3p9K83" style="background-color: rgb(165, 223, 248);">G</div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </button>
            </div>
        <div class="_2k68E6 _260Y5f _1qUHUs" style="display: flex; flex-direction: column;">
            <div class="_297iDr _37zdEz _2BxTkW" style="">
            <div class="xveDbv _38CYLo">
                <div></div>
                <div class="_18j6NR" style="display: flex; flex-direction: column;">
                    <form novalidate="" data-qa="form-client-list-filter">
                        <div class="hEORB6" style="display: flex; flex-direction: row;">
                            <label class="B4ufiE _3J2MMS _5rpFbc _2tXpf4 _3Oe3sQ" style="display: flex; flex-direction: column-reverse; flex: 1 1 384px;">
                                <div class="qyGFie" style="display: flex; flex-direction: row;">
                                    <div class="_1zc-_F">
                                        <span class="_3Q2N2k _30vxLD _3s37z7 _1t1fP1">
                                            <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23.78 22.722l-4.328-4.328c1.073-1.307 1.72-2.983 1.72-4.808C21.17 9.398 17.77 6 13.585 6 9.395 6 6 9.398 6 13.586c0 4.187 3.394 7.585 7.586 7.585 1.825 0 3.497-.64 4.805-1.712l4.33 4.324c.294.294.768.294 1.06 0 .295-.29.295-.767 0-1.057zm-10.194-3.06c-3.354 0-6.08-2.726-6.08-6.076 0-3.35 2.726-6.08 6.08-6.08 3.35 0 6.08 2.73 6.08 6.08s-2.73 6.076-6.08 6.076z"></path>
                                            </svg>
                                        </span>
                                    </div>
                                    <input class="_3RKzT9 _2vdwSO" placeholder="Search by name, e-mail or mobile number" name="query" autocomplete="off" value="">
                                </div>
                            </label>
                            <div style="flex-shrink: 1; flex-grow: 1;"></div>
                            <button class="_3ySuQR _2nu1E8 _1jiWG4 _2P5TQK _1qADt0">
                                <span class="_3Q2N2k _30vxLD _3s37z7 _3coDyr LnBSH4">
                                    <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                                    </svg>
                                </span>
                                <div class="_10jmov">
                                    <div>Options</div>
                                </div>
                            </button>
                            <button class="_2K1R9S _2nu1E8 _1O2-GF _2P5TQK" data-qa="floating-menu-button">New Client</button>
                        </div>
                    </form>
                    <table class="_1kvpv- _9YfScF">
                        <colgroup>
                            <col style="width: 92px;">
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="uIOxJQ"><tr class="_21MTdv">
                            <th class="_11CReE" width="92">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1oN85k" style="flex-grow: 1;">
                                <div class="_39KpJm _2nu1E8"></div>
                                    </div>
                                </div>
                                </th>
                            <th class="_11CReE _2XoWVc">
                                <div style="display: flex; flex-direction: row;">
                                    <div class="_1b09d9" style="flex-grow: 1;">
                                        <div class="_39KpJm _2nu1E8">Name</div>
                                    </div>
                                    <div class="_27k4Z3"></div>
                                </div>
                            </th>
                            <th class="_11CReE _2XoWVc">
                                <div style="display: flex; flex-direction: row;">
                                    <div class="_1b09d9" style="flex-grow: 1;">
                                        <div class="_39KpJm _2nu1E8">Mobile number</div>
                                    </div>
                                    <div class="_27k4Z3"></div>
                                </div>
                            </th>
                            <th class="_11CReE _2XoWVc">
                                <div style="display: flex; flex-direction: row;">
                                    <div class="_1b09d9" style="flex-grow: 1;">
                                        <div class="_39KpJm _2nu1E8">Email</div>
                                    </div>
                                    <div class="_27k4Z3"></div>
                                </div>
                            </th>
                            <th class="_11CReE _2XoWVc">
                            <div style="display: flex; flex-direction: row;">
                                <div class="_1b09d9" style="flex-grow: 1;">
                                <div class="_39KpJm _2nu1E8">Gender</div>
                                    </div>
                                <div class="_27k4Z3"></div>
                                </div>
                                </th>
                             </tr>
                        </thead>
                        @*<tfoot class="_2HOjHb">
                            <tr>
                                <td colspan="5">
                                    <div class="_297iDr _1gQ_WN _30dEPQ" style="display: flex; flex-direction: column;">
                                    <div class="xveDbv">
                                        <div style="display: flex; flex-direction: column;">
                                        <span data-qa="table-footer-text">Showing 2 of 2 results</span></div></div><div class="_9WJ7l1" data-qa="loader-spinner-container"><div class="_1Xf8dA" data-qa="loader-spinner"></div></div></div>
                                </td>
                            </tr>
                        </tfoot>*@
                        <tbody class="">
                            <tr class="_22iOaY _2diuxm _2VOH-H CKZEi8" data-qa="client-10404946">
                                <td class="_2qQKxu _4j7uOc _38_FJJ">
                                    <div class="_37OY2T">
                                        <div class="_1YSdYi _3k5dHo">
                                            <div class="_16eWMH _3k5dHo">J</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-name-10404946">Jane Doe</td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-contactNumber-10404946"></td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-email-10404946">jane@example.com</td>
                                <td class="_2qQKxu _4j7uOc">Female</td>
                            </tr>
                            <tr class="_22iOaY _2diuxm _2VOH-H CKZEi8" data-qa="client-10404945">
                                <td class="_2qQKxu _4j7uOc _38_FJJ">
                                    <div class="_37OY2T">
                                        <div class="_1YSdYi _3k5dHo">
                                            <div class="_16eWMH _3k5dHo">J</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-name-10404945">John Doe</td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-contactNumber-10404945"></td>
                                <td class="_2qQKxu _4j7uOc" data-qa="client-email-10404945">john@example.com</td>
                                <td class="_2qQKxu _4j7uOc">Male</td>
                            </tr></tbody>
                    </table>
                    </div></div>
            <div class="_9WJ7l1" data-qa="loader-spinner-container">
                <div class="_1Xf8dA _1kSyd-" data-qa="loader-spinner"></div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
       