
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            @*top  navigation*@
            <div class="wraptopbar">
                <div class="toggledown">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </div>
                <div class="toggleup"><span class="glyphicon glyphicon-chevron-down"></span></div>
                <div class="pull-right">
                    <select class="select2_single form-control export">
                        <option>Export</option>
                        <option>Excel</option>
                        <option>Pdf</option>
                    </select>
                    <button type="submit" class="btn btn-success" style="display:inline-block;">Add New</button>
                </div>

                @*<div class="content_display">
                    <div class="_glympservice _contentrow"> <span class="glyphicon glyphicon-tasks"></span></div>

                    <div class="_content _contentrow">Hameed</div>
                    <div class="_dots _contentrow"><span class="glyphicon glyphicon-option-horizontal"></span></div>
                </div>*@

            <div class="flex_container content_display">
                <div  style="flex-grow: 1"> <span class="glyphicon glyphicon-tasks"></span></div>
                <div class="_content" style="flex-grow: 8;align-self: center">Hameed</div>
                <div style="flex-grow: 1"><span class="glyphicon glyphicon-option-horizontal"></span></div>

                <div class="stretch">

                </div>


            </div>

            </div>
                @*<div class="title_left">
            <h3>Services</h3>
        </div>*@
                @*<div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <span class="_3Q2N2k _30vxLD _3v1cJZ XuZows">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 6"><circle cx="3" cy="3" r="3"></circle><circle cx="11" cy="3" r="3"></circle><circle cx="19" cy="3" r="3"></circle></svg>
                    </span>
                </div>
            </div>
        </div>*@
            </div>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
        </div>
</div>
modal



@section vendors {
    <script>
        $(document).ready(function () {
            $('#mainpageinfo').html("Services");
            $('#collapseServiceList').collapse()
            $('#servicepopup').hide();
            //Calling add client method
            $(document).on('click', '#btnAddNew', function () { $('#servicepopup').show() });
            $(document).on('scroll', function () { $('#servicepopup').hide(); });
            $(document).on('click', '#hideServiceList', function () { $('#collapseServiceList').collapse('hide') });
            $(document).on('click', '#showServiceList', function () { $('#collapseServiceList').collapse('show') });
            $(document).on('click', '#newService', function () { $('#servicepopup').hide(); $('#serviceModal').modal('show') });
            $(document).on('click', '#header-close-button', function () { $('#serviceModal').modal('hide') });

            CallTotalServiceGroupListApi();
        });


          function CallTotalServiceGroupListApi() {
              var getDashboardUrl = 'https://localhost:44367/api/Services/ServiceGroupList'
            $.ajax({
                type: "GET",
                url: getDashboardUrl,
                dataType: "json",
                success: function (data) {
                    console.log(JSON.stringify(data));
                },
                error: function (x) {
                    console.log(JSON.stringify(x.responseText));
                },
                failure: function (x) { console.log(JSON.stringify(x)) }
            });
        }

      

    </script>
   
}

